/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor Principal */
.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* CABECERA */
.header1 {
    width: 70%;
    float: left;
    background-color: antiquewhite;
    padding: 15px;
    height: 100%;
}

.header2 {
    width: 30%;
    float: right;
    background-color: rgb(219, 250, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header2 img {
    width: 200px; /* Aumentamos el tamaño */
    height: auto;
}

/* CONTENEDOR PRINCIPAL */
.maestro1 {
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.maestro2 {
    width: 100%;
    height: 70%; /* Ajustado para compensar el footer */
    overflow: hidden;
    display: flex;
    
}

/* Menú */
.nav {
    width: 20%;
    float: left;
    padding: 20px;
    background-color: rgb(42, 165, 106);
    height: 100%;
    font-size: 20px; /* Agrandar tamaño del menú */
}

.nav ul {
    padding-top: 20px;
    list-style: none;
}

.nav ul li {
    margin-bottom: 15px; /* Espaciado entre los items */
}

/* Sección */
.section {
    width: 55%;
    float: left;
    padding: 15px;
    background-color: brown;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify; /* Justificar el texto */
    padding: 30px;
}

.section h3 {
    text-align: left;
    font-size: 28px;
    margin-bottom: 15px;
}

/* Centrando la imagen en el aside */
.aside {
    width: 25%;
    float: right;
    padding: 15px;
    background-color: rgb(116, 42, 165);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside img {
    width: 80%;
    height: auto;
}

/* PIE DE PÁGINA */
.maestro3 {
    width: 100%;
    height: 10%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: flex;
}

.izquierdo {
    width: 70%;
    float: left;
    background-color: rgb(250, 215, 243);
    padding: 20px;
    height: 100%;
}

.derecho {
    width: 30%;
    float: right;
    background-color: rgb(247, 250, 215);
    padding: 20px;
    text-align: center;
    height: 100%;
}

/* Limpiar flotantes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
